.step-item {
  @apply relative flex flex-col justify-center items-center w-32;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-gray-900 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex z-10 relative bg-color-red rounded-full justify-center items-center font-semibold text-color-mild;
}

.btn {
  @apply bg-color-gray-light font-medium py-2 px-2;
}

.active .step {
  @apply bg-sky-100;
}

.completed .step {
  @apply bg-green-100;
}
.completed p {
  @apply text-color-gray-dark;
}

.aa {
  background-image: url("../images/setlight.jpg");
  // You can include other background properties as needed:
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  // Add more properties like background-position if necessary
}
